<h2>Posts</h2>

<ul>
  <% @posts.each do |post| %>
    <li>
      <%= link_to post.title, post %>
      <%= "(by #{post.user.username})" if user_signed_in? %>
    </li>
  <% end %>
</ul>

<%= render 'devise_links' if !user_signed_in? %>
